.Users {
    padding: 15px;
}

.user {
    margin-bottom: 20px;
}

.user_photo {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin-right: 15px;
    object-fit: cover;
}

.follow_btn {
    background: #e5cd84 !important;
    color: #000000 !important;
    border: none !important;
}

.follow_btn:hover {
    background: #faba17 !important;
    color: #000000 !important;
}

.Users button {
    background: transparent;
    border: 1px solid #c1c1c1;
}

.Users button:hover {
    background: #afafaf;
}

.page_active {
    background: #afafaf !important;
    font-weight: bold;
    color: #ffffff;
}