.Header {
    background: #000000;
    position: fixed;
    z-index: 100;
    width: 100%;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    font-weight: bold;
    grid-area: Header;
}

.Header h3 {
    color: white;
}

.Header img {
    width: 50px;
    margin-right: 15px;
}

.Header button {
    padding: 10px 20px;
    margin-left: 15px;
    color: white;
    border: 1px solid #ffffff;
    background: none;
}

.Header button:hover {
    color: #000000;
    background: #ffffff;
    cursor: pointer;
}

.Header a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.Header a:hover {
    color: #e0c884;
}

.login_block {
    position: absolute;
    right: 45px;
    color: #dcb346;
}