.Sidebar {
    grid-area: Sidebar;
    background: sandybrown;
    padding: 15px;
}

.Sidebar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.Sidebar a:hover {
    color: #a15127;
}

.Sidebar a.active {
    color: #024071;
    font-weight: bold;
}